.pizza-container {
  width: -webkit-fill-available;
  height: fit-content;
  background-color: #b98538;
  display: flex;
  justify-content: space-between;
  border-radius: 25px;
  box-shadow: 0px 3px 2px gray;
}

.pizza-img {
  height: 200px;
  width: 200px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.pizza-text-container {
  padding-left: 15px;
}
.pizza-text-container > h3 {
  font-size: 22px;
  font-weight: normal;
}
.pizza-text-container > ul {
  font-size: 16px;
}

@media screen and (min-width: 992px) {
  .pizza-container {
    width: 45%;
  }
  .pizza-text-container > h3 {
    font-size: 32px;
    font-weight: normal;
  }
  .pizza-text-container > ul {
    font-size: 22px;
  }
}
/* Desktop */
/* @media screen and (min-width: 992px) {
  .pizza-container {
    height: fit-content;
    background-color: #b98538;
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
  }
  .pizza-img {
    height: 200px;
    width: 200px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  } 
} */
