.pizza-section {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  background-color: red;
}

/* Desktop */
@media screen and (min-width: 992px) {
  .pizza-section {
    grid-template-columns: repeat(2, 1fr);
    background-color: aqua;
  }
}
