.navbar {
  min-height: 60px;
  width: 100%;
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
  color: #060b14;
  padding: 1rem;
}

.navbar > h1 {
  font-size: 48px;
  height: fit-content;
  font-weight: normal;
  grid-column: 1 / 3;
  grid-row: 1;
}
.navbar > a {
  height: fit-content;
  align-self: flex-end;
  font-size: 32px;
  cursor: pointer;
  color: #060b14;
}
@media screen and (min-width: 600px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
