.navbar {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}
.navbar > h1 {
  font-size: 48px;
  height: fit-content;
  font-weight: normal;
}
.navbar > a {
  height: fit-content;
  align-self: flex-end;
  font-size: 32px;
  cursor: pointer;
}
