footer {
  background-color: #060b14;
  min-height: 250px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  font-size: 22px;
  flex-wrap: wrap;
}
.career,
.contact,
.follow-us {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  color: #eff4fa !important;
  align-items: center;
  gap: 10px;
  margin-top: 35px;
}
.apply-btn,
.social-btn {
  height: fit-content;
  width: fit-content;
  background-color: #d8b47d;
  border-style: none;
  cursor: pointer;
}
.apply-btn {
  height: 40px;
  font-size: 22px;
  padding-inline: 15px;
  border-radius: 30px;
}
.btn-container {
  display: flex;
  flex-direction: row;
  gap: 11px;
}
@media only screen and (min-width: 992px) {
  footer {
    flex-wrap: nowrap;
  }
}
@media only screen and (min-width: 600px) {
  .career,
  .contact,
  .follow-us {
    width: 50%;
  }
}
